# Игнорируем результаты компиляции C++
*.out
*.exe
*.o
solution
build/
CMakeLists.txt.user

# Игнорируем результаты компиляции Java
*.class
target/
*.jar
*.war

# Настройки сред разработки (VS Code и IntelliJ IDEA)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Системные файлы
.DS_Store
Thumbs.db